.container{
  display: flex;
  justify-content: center;
  position: relative;
}
.shell{
  width: 100%;
  max-width: 1100px;
  background-color: #fff;
  height: 600px;
  margin-top: -260px;
  border-radius: 20px;
  transition: all 0.3s;
}