.hero__subtitle{
  margin-top: 30px;
}

.hero__title{
  margin-bottom: 20px;
}
.start-button{
  margin-top: 30px;
}
.button{
  cursor: pointer;
  border-radius: 25px;
}
.button--warning{
  background-color: #ff7a17;
}

.button--warning:hover{
  background-color: #e16f1a;
}

.start-button{
  margin-top: 50px;
}