.shell{
  background-color: #5325b3;
}

.navbar{
  color: #fff;
  align-items: center;
  background-color: transparent;
}

.logo{
  margin-right: 20px;
  width: 40px;
}

.inner a{
  color: #fff;
}

.brand{
  font-size: 1.2rem;
  margin-right: 40px;
  color: #fff;
}

.mobile{
  justify-content: center;
}

.mobile .logo{
  margin-top: 0;
  width: 50px;
}

.mobile .brand{
  margin-top: 0px; 
}

.brand:hover{
  color: #fff;
}

.stickNavArea{
  background-color: #5325b3;
  height: 60px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  transition: all 0.1s;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, .3);
}
